@using System.Text.Encodings.Web
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    @*<div id="react-app">Loading...</div>*@
    <div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>
</environment>
<environment include="Staging,Production">
    <div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>
</environment>

@section scripts {
    <script>
        var reCaptchaSiteKey = "@Configuration["reCaptcha:SiteKey"]";
    </script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
